# Copy this file to .env and populate as needed.
# This .env file is used for all sub-projects.
# docker-compose reads build-time environment variables from this file, but not
# from the sub-project .env files like apps/www/.env.
# VITE_* environment variables must be defined in this file to be available
# as ARG.
# @see docker-compose.yml

# Enable Sentry error capturing in local dev. Mostly useful for testing the
# Sentry integration.
VITE_SENTRY_ENABLED=false
VITE_SENTRY_DSN=https://1234567890abcdef@o111111111.ingest.sentry.io/222334456
