# Email sending via Resend. The default email provider is console,
# which doesn't require this.
# RESEND_API_KEY=re_xxxxx

# Enable Sentry error capturing in local dev. Mostly useful for testing the
# Sentry integration.
# VITE_SENTRY_ENABLED=true
