#welcome
  %div
    %a#growers{ :href => page_path(:id => 'growers') }
      %img{ :src => 'http://placekitten.com/200/200' }
      %span For Growers
    %a#pickers{ :href => page_path(:id => 'pickers') }
      %img{ :src => 'http://placekitten.com/200/200' }
      %span For Pickers
